@import '../../assets/styles/colors.scss';
@import '../../assets/fonts/index.scss';
@import '../../assets/styles/animation.scss';

.todo-list-main-wrapper {
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: hue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  cursor: url('https://i.pinimg.com/originals/d6/3f/5d/d63f5d0fab77dc1c345344cc0610fd2f.png'),
    auto;
  .todo-list-title {
    font-size: 3rem;

    font-family: $font-title;
    height: 5vh;
    min-height: 64px;

    animation: $titleAnimation 3s ease-in-out infinite;
  }

  .todo-list-input-with-button-wrapper {
    display: flex;
  }

  .todo-list-input-wrapper {
    margin-right: 16px;
    display: flex;
  }

  .todo-list-add-todo-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    :hover {
      background: linear-gradient(to right, #ef32d9, #89fffd);
      background-size: 400% 400%;
      animation: $buttonAnimation 3s ease-in-out infinite;
    }
  }

  .todo-list-list-wrapper {
    font-family: $font-todos;
    font-size: 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: calc(100vh - 45%);
    height: 248px;
    width: 400px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .todo-item-render-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding-left: 10px;
    max-width: 286px;
    width: 100%;
    min-height: 48px;

    border: 1px solid black;
    background: $todo-list-background;
  }
}
