$button-color: linear-gradient(
  90deg,
  rgba(255, 156, 139, 1) 11%,
  rgba(255, 247, 117, 1) 53%,
  rgba(249, 255, 113, 1) 100%
);

$add-button-color: rgba(255, 156, 139, 1);

$todo-list-background: rgba(255, 247, 117, 1);

$checked-todo: #b3b3b3;
