// linear-gradient(to right, #12c2e9, #c471ed, #f64f59);

$titleAnimation: title-color-change;
$inputBackgroundAnimation: background-color-change;
$buttonAnimation: button-color-change;

@keyframes title-color-change {
  0% {
    color: #00c9ff;
  }

  50% {
    color: #b3ffab;
  }
  100% {
    color: #00c9ff;
  }
}
@keyframes background-color-change {
  0% {
    background-color: #00c9ff;
  }

  50% {
    background-color: #b3ffab;
  }
  100% {
    background-color: #00c9ff;
  }
}

@keyframes button-color-change {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
